<div class="profilepic">
	<script src="{{ root_url }}/javascripts/md5.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.profilepic').append("<img src='http://www.gravatar.com/avatar/" + MD5("{{ site.email | downcase }}") + "?s=160' alt='Profile Picture' style='width: 160px;' />");
		});
	</script>
</div>
{% include custom/header.html %}
<p class="subtitle">{{ site.subtitle }}</p>
<a href="mailto:idups1k@gmail.com">Send me a message!</a>
<nav id="main-nav">{% include navigation.html %}</nav>
<nav id="sub-nav">
	<div class="social">
		{% if site.facebook_user %}
		<a class="facebook" href="http://www.facebook.com/{{ site.facebook_user }}" title="Facebook">Facebook</a>
		{% endif %}
		{% if site.googleplus_user and site.googleplus_hidden == false %}
		<a class="google" href="https://plus.google.com/{{ site.googleplus_user }}" rel="author" title="Google+">Google+</a>
		{% endif %}
		{% if site.twitter_user %}
		<a class="twitter" href="http://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a>
		{% endif %}
		{% if site.github_user %}
		<a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a>
		{% endif %}
		<a class="stackoverflow" href="http://stackoverflow.com/users/748259/mikhail-nikalyukin" title="stackoverflow">Stackoverflow</a>
		{% if site.coderwall_user %}
		<a class="coderwall" href="https://coderwall.com/{{ site.coderwall_user }}" title="Coderwall">Coderwall</a>
		{% endif %}
	</div>
</nav>